Repository CTimmerman/PyPico8: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, doctest, black, pylint

mypy:
  name: mypy
  entry: mypy
  fail_fast: true
  language: system
  pass_filenames: true

doctest:
  name: doctest
  entry: python src/pypico8/spoonfeeder.py "python -X utf8 -m doctest"
  fail_fast: true
  language: system

black:
  name: black
  entry: python -m black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

Grammar.
  src/pypico8/spoonfeeder.py
Due: mypy, doctest, black, pylint

Fix cos, sgn, sin, rnd.
  src/neon_jellyfish.py
  src/pypico8/__init__.py
  src/pypico8/math.py
  src/pypico8/strings.py
Due: mypy, doctest, black, pylint

Fix pal(list, p)
  src/islehopper.py
  src/pypico8/TODO.txt
  src/pypico8/video.py
Due: mypy, doctest, black, pylint

Fix atan2, import *
  src/islehopper.py
  src/neon_jellyfish.py
  src/pypico8/__init__.py
  src/pypico8/math.py
  src/pypico8/strings.py
Due: mypy, doctest, black, pylint

Fix bird rotation.
  src/islehopper.py
  src/pypico8/TODO.txt
Due: mypy, doctest, black, pylint

Fix rostock_genuary25 colors
  src/pypico8/TODO.txt
  src/pypico8/video.py
Due: mypy, doctest, black, pylint

Work around terrible deli perf. Don't draw demos on import.
  src/book.py
  src/chain_ripples.py
  src/disco_squid.py
  src/jiggly_ovals.py
  src/moving_checkers.py
  src/moving_maze.py
  src/octopus.py
  src/pypico8/TODO.txt
  src/pypico8/table.py
  src/rostock_genuary25.py
Due: mypy, doctest, black, pylint

Clean up.
  src/rostock_genuary25.py
Due: mypy, doctest, black, pylint

Don't use general use ram for scrolling.
  src/pypico8/video.py
Due: mypy, doctest, black, pylint

Add CLI. Fix font size.
  .pylintrc
  src/pypico8/__init__.py
  src/pypico8/video.py
Due: mypy, doctest, black, pylint

Link & lint.
  README.md
Due: doctest

Update README.md
  README.md
Due: doctest

Fix shifts, CLI, rnd. Add spark.
  .pylintrc
  src/pypico8/__init__.py
  src/pypico8/infix.py
  src/pypico8/math.py
  src/pypico8/strings.py
  src/spark.py
Due: mypy, doctest, black, pylint

Fix maths precommit.
  src/pypico8/__init__.py
  src/pypico8/maths.py
  src/pypico8/strings.py
  src/pypico8/video.py
Due: mypy, doctest, black, pylint

Fix typo.
  src/spark.py
Due: mypy, doctest, black, pylint

Fix delv, len, padar, coverage
  .pre-commit-config.yaml
  .pylintrc
  src/bogosort.py
  src/padar.py
  src/pypico8/TODO.txt
  src/pypico8/__init__.py
  src/pypico8/strings.py
  src/pypico8/table.py
  src/sleight_of_hand.py
Due: mypy, doctest, black, pylint

Fix coverage by not losing individual file doctest results presumably due to batching per 5 files by pre-commit.
  .pre-commit-config.yaml
Due: none

Coverage.
  src/pypico8/__init__.py
  src/pypico8/audio.py
  src/pypico8/table.py
  src/pypico8/video.py
Due: mypy, doctest, black, pylint

Coverage.
  .pre-commit-config.yaml
  src/pypico8/cov.bat
  src/pypico8/infix.py
  src/pypico8/video.py
Due: mypy, doctest, black, pylint

Coverage dep.
  requirements-dev.txt
Due: none

More coverage.
  src/pypico8/video.py
Due: mypy, doctest, black, pylint

CLI Home & End. Coverage.
  src/pypico8/__init__.py
  src/pypico8/maths.py
  src/pypico8/video.py
Due: mypy, doctest, black, pylint

Mypy strict.
  pyproject.toml
  src/pypico8/__init__.py
  src/pypico8/audio.py
  src/pypico8/infix.py
  src/pypico8/maths.py
  src/pypico8/strings.py
  src/pypico8/table.py
  src/pypico8/video.py
Due: mypy, doctest, black, pylint

Mock user input for more coverage.
  pyproject.toml
  src/pypico8/__init__.py
  src/pypico8/table.py
Due: mypy, doctest, black, pylint

Test badges.
  .markdownlint.yaml
  .pre-commit-config.yaml
  README.md
Due: doctest

Test badges 2.
  README.md
Due: doctest

Badge test 3.
  README.md
  src/pypico8/badge.svg
Due: doctest

Typos.
  README.md
Due: doctest

Badge test 4.
  README.md
  badge.svg
Due: doctest

Guess i'll have to mod the text locally.
  README.md
Due: doctest

Save coverage badge for later.
  README.md
  badge.svg
Due: doctest

Fix formatting and outdated spec.
  src/pypico8/strings.py
  src/pypico8/video.py
Due: mypy, doctest, black, pylint

Faster feedback on commit. Fix mypy requirement. Add assembled_horizons demo (WIP)
  .pre-commit-config.yaml
  requirements-dev.txt
  src/assembled_horizon.py
  src/pypico8/TODO.txt
  src/pypico8/__init__.py
  src/pypico8/video.py
Due: mypy, doctest, black, pylint

Fix tearing. Run carts in separte thread to stay responsive.
  pyproject.toml
  src/blink_frame.py
  src/pypico8/TODO.txt
  src/pypico8/__init__.py
  src/pypico8/video.py
Due: mypy, doctest, black, pylint

Move deps to toml. Fix reset and flicker.
  .gitignore
  README.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  src/pypico8/__init__.py
  src/pypico8/video.py
Due: mypy, doctest, black, pylint

Better flicker fix for book and diamonds.
  src/pypico8/__init__.py
Due: mypy, doctest, black, pylint

Guess dynamic vars need another package.
  install_dev.bat
  pyproject.toml
  src/pypico8/__init__.py
Due: mypy, doctest, black, pylint

Fix stat(8)
  src/blink_frame.py
  src/pypico8/__init__.py
Due: mypy, doctest, black, pylint

Path conditions:
  mypy: any of: \.py$
  doctest: any of: \.py$, \.(md|markdown|mdown)$
  black: any of: \.py$
  pylint: any of: \.py$
